/* Basic reset for improved consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.6;
}

#content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #263238;
}

a.anchor {
  display: none; /* hide the anchor links */
}

a {
  color: #1e88e5;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0d47a1;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}

li {
  margin-bottom: 8px;
  position: relative;
  padding-left: 20px;
}

li > ul {
  margin-top: 8px;
  margin-left: 20px;
}

/* Different levels of nested lists can have different bullet styles */
li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #b0bec5;
}

li li:before {
  content: "-";
}

li li li:before {
  content: "*";
}

em {
  font-style: italic;
  color: #616161;
}
